<article>
    <header class="tc pa1">
        <h1>Wichteln - {{year}}</h1>
        <p>Gruppe: <span class="b">{{group.name}}</span></p>
    </header>

    <h2>Personalisierte links:</h2>

    <ul class="links">
        {{#each links}}
            <li class="link">
                <h4>{{name}}</h4>
                <a href="{{link}}">{{link}}</a>
            </li>
        {{/each}}
    </ul>
</article>
